.directory-header {
    color: #005035;
    text-align: center;
    padding-bottom: 5px;

}

section {
    padding-left: 50px;
    padding-right: 50px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    flex-grow: 1;
    
}

.directory-table {
    margin-top: 0px;


}

.directory-table thead th{
    color: #005035;
    font-size: large;

}

.directory-form-adjuster {
    padding-bottom: 0%;
    
    width: 700px;
    margin-left: 10%;
    display: flex;
    justify-content: flex-end;
    
}

.directory-button-container {
    margin-left: 40%;
    margin-top: -15px;
    margin-bottom: -1%;
    
}
.directory-button-adjuster {
    width: 200px;
    background-color: #005035;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    font-weight:600;
}

.pagination-container {
    margin-top: -40px;
    margin-left: 40%;
}

.pagination-seperate {
    margin-top: 10px;
}
.pagination-container a {
    color: #005035;
}

.pagination-container .page-item.active .page-link {
    background-color: #005035;
    color: #FFFFFF;
}