.search-directory-image-adjuster {
    position:absolute;
    right: 2%;
    top: 25.2%;
    width: 50%;
    max-width: 100%;
    height: auto;
    
}

.search-directory-form-adjuster {
    padding-top: 5%;
    margin-top: 10%;
    width: 700px;
    margin-left: -10%;
    
}

.search-directory-label-adjuster {
    color: #005035;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    padding-bottom: 20px;
}

.search-directory-indiv-selector {
    padding-bottom: 10px;
    color: #005035;
}

.search-directory-h1-adjuster {
    color: #005035;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 22px;
}

.search-directory-second-title {
    color: #86A873;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 72px;
    font-size:24px;
}

.search-directory-button-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
}
.search-directory-button-adjuster {
    width: 200px;
    background-color: #005035;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    font-weight:600;
}

.search-directory-select-border {
    border: 2px solid #005035;
    color: #005035;
    font-size: large;
}