* {
    margin: 0;
    padding: 0;
}

:root{
    --dark-green: #005035;
    --light-green: #CFE3C3;
}

h1 {
    margin: 2rem 0;
    text-align: center;
    font-weight: bold;
    color: var(--dark-green)
}

h2 {
    margin: 2rem 0;
    text-align: center;
}

label {
    width: 100px;
    font-weight: 600;
    color: var(--dark-green)
}

.input-container > * {
    border-color: var(--dark-green)
}

.input-container {
    width: 350px;
}

td {
    padding: 0.5rem 0;
}

.form-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

#submit-btn {
    display: flex;
    margin: 0 auto;
    width: 9rem;
}

.course-container {
    display: flex;
}

.course-container span {
    margin: auto 0.5rem;
}

.disabled-error {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    color: red;
    font-size: small;
}