{% extends '_layout.html' %}
{% block title %}Course Directory{% endblock %}
{% block styles %}<link rel="stylesheet" href="/static/css/course_directory.css">{% endblock %}
{% block body %}

<!--Resource used for round: https://jinja.palletsprojects.com/en/3.0.x/templates/-->
{% if all_courses|length == 0 %}
  <h1 class="directory-header">No Classes matched description!</h1>
  <section>
  </section>
{% else %}
<h1 class="directory-header">Course Directory</h1>
  <section>
    
    <table class="table directory-table">
      <thead>
        <tr>
          <th scope="col">Course</th>
          <th scope="col">Major</th>
          <th scope="col">Credits</th>
          <th scope="col">Quality Rating</th>
          <th scope="col">Difficulty Rating</th>
          <th scope="col">Rating Page</th>
        </tr>
      </thead>
      <tbody>
        {% for course in all_courses %}
          <tr>
            <th scope="row" style="font-weight: normal;">{{ course.course_letter }}-{{ course.course_number }}</th>
            <td>{{ course.major }}</td>
            <td>{{ course.credits }}</td>
            <td>
            {% if course.avg_quality is not none %}
              {{ course.avg_quality|round(2) }}/5 stars
            {% else %}
              N/A
            {% endif %}
            </td>
            <td>
            {% if course.avg_difficulty is not none %}
              {{ course.avg_difficulty|round(2) }}/5 stars
            {% else %}
              N/A
            {% endif %}
            </td>
            <td>
              <form action="/view_forum_posts" method="post">
                <button type="submit" name="view_posts" value="#" style="background-color: #005035;" class="btn btn-primary">View Thread</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endif %}  


<div class="directory-button-container">
  <form action="/search" method="get" class=" directory-form-adjuster">
    <div>
      <button type="submit" class="btn btn-primary directory-button-adjuster">Back To Search</button>
    </div>
  </form>
</div>


<div class="pagination-container">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
</div>



{% endblock %}