{% extends '_layout.html' %}


{% block body %}
<div class="container pt-4">
    <h1>Create Post</h1>
    <form method="post">
        <div class="form-group">
            <label for="class-select">Choose a course to post about:</label>
            <select class="form-control" id="class-select" name="code">
                {% for class in class_list %}
                <option value="{{ class.code }}">{{ class.code }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea id="content" name="content" class="form-control" rows="4" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <a href="{{ url_for('view_forum_posts') }}" class="btn btn-secondary mt-2">Back to Forum Home</a>
</div>
{% endblock %}