{% extends '_layout.html' %}


{% block body %}

<div class="container pt-4">
    <h1>Create Post</h1>
    <form method="post" action="{{ url_for('create_forum_post') }}">
        <div class="form-group">
            <label for="course-select">Choose a course:</label>
            <select class="form-control" id="course-select" name="course_id" required>
              {% for course in courses %}
                <option value="{{ course.course_id }}">{{ course.course_letter }}-{{ course.course_number }}: {{ course.title }}</option>
              {% endfor %}
            </select>
          </div>
        <div class="form-group">
          <label for="subject">Subject:</label>
          <input type="text" class="form-control" id="subject" name="subject" required>
        </div>
        <div class="form-group">
          <label for="body">Body:</label>
          <textarea class="form-control" id="body" name="body" rows="5" required></textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Create Post</button>
      </form>
      <a href="{{ url_for('view_forum_posts') }}" class="btn btn-secondary mt-2">Back to Forum Home</a>
</div>
{% endblock %}