{% extends '_layout.html' %}
{% block title %}Edit a Comment{% endblock %}

{% block body %}
<div class="container pt-4">
    <h1>Edit Comment</h1>
    <form method="post" action="{{ url_for('edit_forum_comment', post_id=post_id, comment_id=comment.comment_id) }}">
        <div class="form-group">
            <label for="body">Comment:</label>
            <textarea class="form-control" id="body" name="body" rows="5" required>{{ comment.body }}</textarea>
        </div>
        <br>
        {% if disabled %}<p class="text-danger">Don't be sneaky. You must be logged in to edit your own comments.</p>{% endif %}
        {% if disabled %}
            <button type="submit" class="btn btn-success disabled">Save Changes</button>
        {% else %}
            <button type="submit" class="btn btn-success">Save Changes</button>
        {% endif %}
    </form>
</div>
{% endblock %}
