{% extends '_layout.html' %}
{% block title %}Log In / Sign Up {% endblock %}
{% block body %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}
    <div class="container">
        <!-- Left Side (Login Credentials) -->
        <div class="login">
            <h2>Sign Up/Login</h2>
            <hr>
            <form action="/process_form" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br><br>                
                <label for="hashed_password">Password:</label>
                <input type="password" id="hashed_password" name="hashed_password" required><br><br>
                <input type="submit" value="Sign Up" name="action">
                <input type="submit" value="Login" name="action">
            </form>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flash-messages">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            
            <hr>
            <ul class="social">
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fa-brands fa-linkedin fa-2xl" style="color: #306ed9;"></i>
                </a>
                
                <a href="https://www.google.com/" target="_blank">
                    <i class="fab fa-google fa-2xl"></i>
                </a>
                
                <a href="https://www.facebook.com/" target="_blank">
                    <i class="fa-brands fa-square-facebook fa-2xl" style="color: #1b56bb;"></i>
                </a>
            </ul>
            
        </div>

        <!-- Right Side (Photo Container) -->
        <div class="photo-container">
            <img src="{{ url_for('static', filename='images/UNCClock.jpg') }}" class="unc"alt="UNC Charlotte">
        </div>
    </div>
{% endblock %}