{% extends '_layout.html' %}
{% block title %}Log In / Sign Up {% endblock %}
{% block body %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}
<div class="container">
    <div class="form sign-in">
        <h2>Login</h2>
        <form action="/process_form" method="post">
            <label>
                <span for="username">Username:</span>
                <input type="text" id="username" name="username" required><br> 
            </label>
            <label>
                <span for="hashed_password">Password:</span>
                <input type="password" id="hashed_password" name="hashed_password" required><br>
            </label>
            <button class="submit" type="submit" value="Login" name="action">Login</button>
        </form>
        <div class="flash-message">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flash-messages">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
        
    </div>
    <div class="sub-container">
        <div class="img">
            <div class="img-text m-up">
                <h2>New Here?</h2>
                <p>Sign Up and discover reviews of courses in your school</p>
            </div>
            <div class="img-text m-in">
                <h2>Already Have an Account?</h2>
                <p>Just Login</p>
            </div>
            <div class="img-btn">
                <span class="m-up">Sign Up</span>
                <span class="m-in">Login</span>
            </div>
        </div>
        <div class="form sign-up">
            <h2>Sign Up</h2>
            <form action="/process_form" method="post">
                <label>
                    <span for="username">Username:</span>
                    <input type="text" id="username" name="username" required><br>   
                </label>
                <label>
                    <span for="email">Email:</span>
                    <input type="text" id="email" name="email" required><br>  
                </label>
                <label>
                    <span for="hashed_password">Password:</span>
                    <input type="password" id="hashed_password" name="hashed_password" required><br>
                </label>
                <button class="submit" type="submit" value="Sign Up" name="action">Sign Up</button>
            </form>
            <div class="flask-message">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="flashes">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='script.js')}}"></script>
{% endblock %}
