<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="styleshet" href="{{ url_for('static', filename='css/profile.css') }}" alt="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet">
    <title> User Profile</title>
</head>
<body>
    <div class="header">
        <div class="side-nav">
            <h2>Profile</h2>
            <ul class="nav-links">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Notifications</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Help</a></li>
                <li><a href="#">Language</a></li>
            </ul>
        </div>
    </div>
        
    <footer>
        
    </footer>
</body>
</html>