{% extends '_layout.html' %}

{% block title %}Course Elector | View Ratings{% endblock %}

{% block styles %}
<link href="{{url_for('static', filename='css/view_ratings.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
<h1 class="text-center">{{course.course_letter}}-{{course.course_number}} - {{course.title}}</h1>


<div class="course-info-container">

    <div class="course-info">
        <div class="course-info-title">
            <h2 class="m-0">{{course.major}}</h2>
        </div>

        <div class="course-info-metadata">
            <div>
                <p class="course-info-header">Ratings Submitted</p>
                <p>{{ratings|length}}</p>
            </div>
            <div>
                <p class="course-info-header">Credits</p>
                <p>{{course.credits}}</p>
            </div>
            <div>
                <p class="course-info-header">Quality</p>
                <p>{{avg_quality}}</p>
            </div>
            <div>
                <p class="course-info-header">Difficulty</p>
                <p>{{avg_difficulty}}</p>
            </div>
        </div>
    </div>
</div>

{% if ratings|length == 0 %}
<h1>No ratings for this course</h1>

{% else %}
<div class="ratings-container">
    {% for rating in ratings %}

    <div class="rating">
        <div class="rating-info">
            <div>
                <p class="rating-info-header">Instructor</p>
                <p>{{rating.instructor}}</p>
            </div>
            <div>
                <p class="rating-info-header">Quality</p>
                <p>{{rating.quality}}</p>
            </div>
            <div>
                <p class="rating-info-header">Difficulty</p>
                <p>{{rating.difficulty}}</p>
            </div>
            <div>
                <p class="rating-info-header">Grade</p>
                <p>{% if rating.grade %}{{rating.grade}}{% else %}N/A{% endif %}</p>
            </div>
        </div>
        <p class="rating-description">{% if rating.description %}{{rating.description}}{% endif %}</p>
    </div>

    {% endfor %}
</div>
{% endif %}

{% endblock %}