{% extends '_layout.html' %}

{% block title %}Course Elector | View Ratings{% endblock %}

{% block styles %}
<link href="{{url_for('static', filename='css/view_ratings.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
<h1 class="text-center">ITSC-3155 - Software Engineering</h1>
<div class="course-info">
    <div class="course-info-title">
        <h2 class="m-0">Computing and Informatics</h2>
    </div>

    <div class="course-info-metadata">
        <div>
            <p class="course-info-header">Ratings Submitted</p>
            <p>?</p>
        </div>
        <div>
            <p class="course-info-header">Credits</p>
            <p>3</p>
        </div>
        <div>
            <p class="course-info-header">Quality</p>
            <p>X/5</p>
        </div>
        <div>
            <p class="course-info-header">Difficulty</p>
            <p>X/5</p>
        </div>
    </div>
</div>

<div class="ratings-container">
    <div class="rating">
        <div class="rating-info">
            <div>
                <p class="rating-info-header">Instructor</p>
                <p>Jacob Krevat</p>
            </div>
            <div>
                <p class="rating-info-header">Quality</p>
                <p>X/5</p>
            </div>
            <div>
                <p class="rating-info-header">Difficulty</p>
                <p>X/5</p>
            </div>
            <div>
                <p class="rating-info-header">Grade</p>
                <p>A</p>
            </div>
        </div>
        <p class="rating-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis saepe a ea nemo molestias necessitatibus suscipit nulla, cum doloribus commodi quod ipsa minus temporibus consequatur tempora debitis, facilis beatae vel? Quisquam facilis eius distinctio qui perspiciatis ipsum beatae dignissimos illum quidem autem dolorum non aspernatur quas, veniam repellendus quae! Non.</p>
    </div>
    
    <div class="rating">
        <div class="rating-info">
            <div>
                <p class="rating-info-header">Instructor</p>
                <p>Jacob Krevat</p>
            </div>
            <div>
                <p class="rating-info-header">Quality</p>
                <p>X/5</p>
            </div>
            <div>
                <p class="rating-info-header">Difficulty</p>
                <p>X/5</p>
            </div>
            <div>
                <p class="rating-info-header">Grade</p>
                <p>A</p>
            </div>
        </div>
        <p class="rating-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis saepe a ea nemo molestias necessitatibus suscipit nulla, cum doloribus commodi quod ipsa minus temporibus consequatur tempora debitis, facilis beatae vel? Quisquam facilis eius distinctio qui perspiciatis ipsum beatae dignissimos illum quidem autem dolorum non aspernatur quas, veniam repellendus quae! Non.</p>
    </div>

    <div class="rating">
        <div class="rating-info">
            <div>
                <p class="rating-info-header">Instructor</p>
                <p>Jacob Krevat</p>
            </div>
            <div>
                <p class="rating-info-header">Quality</p>
                <p>X/5</p>
            </div>
            <div>
                <p class="rating-info-header">Difficulty</p>
                <p>X/5</p>
            </div>
            <div>
                <p class="rating-info-header">Grade</p>
                <p>A</p>
            </div>
        </div>
        <p class="rating-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis saepe a ea nemo molestias necessitatibus suscipit nulla, cum doloribus commodi quod ipsa minus temporibus consequatur tempora debitis, facilis beatae vel? Quisquam facilis eius distinctio qui perspiciatis ipsum beatae dignissimos illum quidem autem dolorum non aspernatur quas, veniam repellendus quae! Non.</p>
    </div>

    <div class="rating">
        <div class="rating-info">
            <div>
                <p class="rating-info-header">Instructor</p>
                <p>Jacob Krevat</p>
            </div>
            <div>
                <p class="rating-info-header">Quality</p>
                <p>X/5</p>
            </div>
            <div>
                <p class="rating-info-header">Difficulty</p>
                <p>X/5</p>
            </div>
            <div>
                <p class="rating-info-header">Grade</p>
                <p>A</p>
            </div>
        </div>
        <p class="rating-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis saepe a ea nemo molestias necessitatibus suscipit nulla, cum doloribus commodi quod ipsa minus temporibus consequatur tempora debitis, facilis beatae vel? Quisquam facilis eius distinctio qui perspiciatis ipsum beatae dignissimos illum quidem autem dolorum non aspernatur quas, veniam repellendus quae! Non.</p>
    </div>

    <div class="rating">
        <div class="rating-info">
            <div>
                <p class="rating-info-header">Instructor</p>
                <p>Jacob Krevat</p>
            </div>
            <div>
                <p class="rating-info-header">Quality</p>
                <p>X/5</p>
            </div>
            <div>
                <p class="rating-info-header">Difficulty</p>
                <p>X/5</p>
            </div>
            <div>
                <p class="rating-info-header">Grade</p>
                <p>A</p>
            </div>
        </div>
        <p class="rating-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis saepe a ea nemo molestias necessitatibus suscipit nulla, cum doloribus commodi quod ipsa minus temporibus consequatur tempora debitis, facilis beatae vel? Quisquam facilis eius distinctio qui perspiciatis ipsum beatae dignissimos illum quidem autem dolorum non aspernatur quas, veniam repellendus quae! Non.</p>
    </div>

    <div class="rating">
        <div class="rating-info">
            <div>
                <p class="rating-info-header">Instructor</p>
                <p>Jacob Krevat</p>
            </div>
            <div>
                <p class="rating-info-header">Quality</p>
                <p>X/5</p>
            </div>
            <div>
                <p class="rating-info-header">Difficulty</p>
                <p>X/5</p>
            </div>
            <div>
                <p class="rating-info-header">Grade</p>
                <p>A</p>
            </div>
        </div>
        <p class="rating-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis saepe a ea nemo molestias necessitatibus suscipit nulla, cum doloribus commodi quod ipsa minus temporibus consequatur tempora debitis, facilis beatae vel? Quisquam facilis eius distinctio qui perspiciatis ipsum beatae dignissimos illum quidem autem dolorum non aspernatur quas, veniam repellendus quae! Non.</p>
    </div>
</div>


{% endblock %}